body {
    margin: 0;
    padding: 0;
    /* background-color: #202123; */
    color: black;
    background-color: #e7eadc;

}

h3 {
    padding: 15px;
    margin-left: 650px;    
    border-style: solid;
    width: 86px;
    border-radius: 50px;
}

h2 {
    
    margin-left: 535px;

}


form {
    margin-left: 525px;
    padding: 25px;
    
}

button {
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background: #AACBC0; /* admin accent */
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #8aaea5;
    color: white;
}

.format {
    display: inline-block;

    height: 280px;
    width: 200px;
    border-style: solid;
    margin-left: 335px;
    background-image: url(Certificate_Acc_Data-2-1.png);
    background-size: cover;

}

span {
    margin-left: 365px;
    font-size: 20px;
}

#rule1 {
    margin-left: 25px;
}

#rule2 {
    margin-left: 25px;
}

#rule3 {
    margin-left: 25px;
}





#name {
    
    font-size: 50px;
    /* margin-left: 400px; */
    margin-top: 50px;
}

.maindiv {
    display: flex;
    gap: 190px;
    background-color: #aacbc0;
    color:white;
}


#logo {

    height: 150px;
    width: 150px;
    /* border-style: solid; */
    
    margin-left :50px;
    background-image: url(Certificate\ Logo.png);
    background-size: cover;



}


hr {
    margin: 0;
    padding: 0;
}


#result {
    margin-left: 550px;
    
}



.disclaimer h3 {
    display: inline-block;
    margin: 10px auto;
    padding: 8px 20px;
    border-radius: 50px;
    border: 1px solid #888;
    font-size: 1rem;
    background-color: rgba(110, 152, 146, 0.499);
    color: rgb(4, 3, 3);
}

.disclaimer {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #AACBC0;
    border-radius: 10px;

    color: black;
}

.rule {
    margin: 12px 0;
    padding: 12px;
    border-left: 4px solid #ff4d4d;
    background: rgba(110, 152, 146, 0.499);
    border-radius: 6px;
    font-size: 0.95rem;
}


.ok {
    display: inline-block;

    height: 280px;
    width: 200px;
    border-style: solid;
    margin-left: 170px;
    background-image: url(Certificate_Acc_Data-2-1.png);
    background-size: cover;
}